@model Nothing_Fancy.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="reserverName" class="control-label"></label>
                <input asp-for="reserverName" class="form-control" />
                <span asp-validation-for="reserverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameOfRoom" class="control-label"></label>
                <input asp-for="nameOfRoom" class="form-control" />
                <span asp-validation-for="nameOfRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reserveDateBegin" class="control-label"></label>
                <input asp-for="reserveDateBegin" class="form-control" id="inpBeg"/>
                <span asp-validation-for="reserveDateBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reserveDateEnd" class="control-label"></label>
                <input asp-for="reserveDateEnd" class="form-control" id="inpEnd"/>
                <span asp-validation-for="reserveDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cost" class="control-label"></label>
                <input asp-for="cost" class="form-control" id="sum"/>
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var TestVar = document.getElementById('inpBeg').value;
            var TestVar2 = document.getElementById('inpEnd').value;
            document.getElementById('sum').value = 20;
        }
    </script>

}
