@model IEnumerable<Nothing_Fancy.Models.Reservation>

@{
    ViewData["Title"] = "Weekly";
}

<div class="container">
    @{var s = getReservationInfo();}
    <div id='calendar'></div>
</div>

@functions {
    public List<IDictionary<string, string>> getReservationInfo()
    {
        var reservations = new List<IDictionary<string, string>>();
        var reservationInfo = new Dictionary<string, string>();


        foreach (var items in Model)
        {
            reservationInfo = new Dictionary<string, string>();
            reservationInfo.Add("title", (items.reserverName + " in " + items.nameOfRoom));
            reservationInfo.Add("start", items.reserveDateBegin.ToString("yyyy-MM-dd"));
            reservationInfo.Add("end", items.reserveDateEnd.ToString("yyyy-MM-dd"));

            switch (items.nameOfRoom)
            {
                case "Room 101":
                    reservationInfo.Add("color", "#FFC733");
                    break;
                case "Room 102":
                    reservationInfo.Add("color", "#33FFF6");
                    break;
                case "Room 103":
                    reservationInfo.Add("color", "#3342FF");
                    break;
            }
            reservations.Add(reservationInfo);
        }

        return reservations;
    }
}

<script src="~/calendar lib/main.js"></script>
<script>
    var test = JSON.parse('@Html.Raw(Json.Serialize(s))');
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;


    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialDate: today,
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: true,
            selectable: true,
            events: test
        });

        calendar.render();
    });</script>

