<div class="container pb-3">

    <div class="text-center">
        <div class="h1">Bookings for Week of @DateTime.Today.ToString("MM/dd/yyyy") to @DateTime.Today.AddDays(6).ToString("MM/dd/yyyy")</div>
    </div>
    
    <div class="row pl-4">
        @for (int i = 0; i < 8; i++)
        {
            if (i == 0)
            {
                <div class="col border">
                    Room
                </div>
            }
            else
            {
                <div class="col border">
                    @DateTime.Today.AddDays(i).ToString("MM/dd/yyyy")
                </div>
            }

        }
    </div>



    @for (int i = 1; i <= 3; i++)
    {
        <div class="row pl-4">
            @for (int j = 0; j < 8; j++)
            {

                @if (j == 0)
                {
                    <div class="col border" id="weekCard">
                        @sendMessage(i)
                    </div>
                }
                else
                {
                    <div class="col card " id="weekCard">
                        test
                    </div>
                }

            }
        </div>
    }
</div>
<a asp-area="" asp-controller="Reservation" asp-action="Detailed" class="btn btn-info">View Detailed List</a>


@functions{
    public string sendMessage(int i)
    {
        return "Room 10" + i;
    }
}
