/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 0%;
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    width: 0%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 0%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 0%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 0%;
    height: 18px;
    background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}


#id01 {
    list-style: none;
}

#bookNow {
    top: 50%;
    left: 50%;
    width: 400px;
}


#layout-navbar {
    background-color: rgba(28, 36, 49, 0.70);
}

#layout-footer {
    background-color: rgb(28, 36, 49);
}


#carousel-home-index {
    /*dont ask pls*/
    width: 99.55vw;
    position: relative;
    margin-left: -50vw;
    height: 100%;
    left: 50%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#carousel-home-img {
    display: grid;
    max-width: 100%;
    max-height: 100vh;
    min-width: 100vh;
    min-height: 100vh;
    object-fit: cover;
    margin: auto;
    background-size: cover;
}

#carousel-caption-index {
    top: 200px;
    color: white;
    bottom: auto;
    font-family: 'Varela Round', sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#room-title {
    padding-top: 25px;
    animation: slideFadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#room-card-box-animation {
    animation: slideFadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#roomImage {

    padding-bottom: 30px;
    max-width: 100%;
    height: auto;
}

#review-star-comment-checked {
    color: #ffd800;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFadeInAnimation {
    0% {
        opacity: 0;
        top: -25px;
    }

    100% {
        opacity: 1;
        top: 20px;
    }
}
