@{
    ViewData["Title"] = "Rooms";
}
<div class="text-center">
    <h1 class="display-4">Welcome to our List of Rooms</h1>
    <ul class="list-group">
        <li class="list-group-item"><a asp-area="" asp-controller="Rooms" asp-action="Room101">Room 101</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Rooms" asp-action="Room102">Room 102</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Rooms" asp-action="Room103">Room 103</a></li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
