@{
    ViewData["Title"] = "Room 101";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4" >Welcome to @ViewData["Title"]</h1>
        <img src="~/images/BBlf9Zf.jpg" class="img-fluid" id="roomImage" alt="Room 101">
    </div>
</div>
