@{
    ViewData["Title"] = "Room 103";
}
<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <img src="~/images/BB32zT.jpg" class="img-fluid" id="roomImage" alt="Room 103">
</div>
