@{
    ViewData["Title"] = "Room 103";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4"> @ViewData["Title"]</h1>
        <div class="row pt-2">
            <div class="col">
                <strong class=" float-xl-left h3">Rooms are all equipped with: </strong>

                <br />
                <br />

                <ul class="text-justify pl-lg-5">
                    <li>king-size bed</li>
                    <li>flat-screen television</li>
                    <li>mini bar fridge and a safe</li>
                </ul>

                <p class="text-left">
                    Extravagant wall art and modern utilities for our highest price. <br />
                    Experience high quality furnishings and attention to aesthetic detail.<br />
                    Room is approximately 30 sqft.
                </p>

                <br />
                <br />

                <a asp-area="" asp-controller="Reservation" asp-action="Create" class="btn btn-primary">Reserve Now</a>
                <a asp-area="" asp-controller="Reservation" asp-action="Calendar" class="btn btn-info">View Availability</a>
                <a asp-area="" asp-controller="Rooms" asp-action="Listing" class="btn pl-md-0"> <small>Back to listing </small> </a> <br /><br />
            </div>
            <div class="col">
                <img src="~/images/BB32zT.jpg" class="img-fluid" id="roomImage" alt="Room 101">
            </div>
        </div>
    </div>
</div>
