@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4 pt-3">About</h1>

    <div>
        <p class="container">
            Nothing Fancy is an asp.net project made by Brandon Mefford and Johnle Do to simulate a simple hotel reservation
            system. <br> This website features: ASP.NET core, Entity framework Core, HTML, CSS, and Javascript. A link to our github
            repository is in the topright.
        </p>
    </div>
</div>