@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4 pt-3">Let us know what you think!</h1>

    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h3>Brandon Mefford</h3>
                <p class="pt-1">Phone: (316) 559-1111</p>
                <p>Email: b.mefford1997@gmail.com</p>
                <p>Github: https://github.com/Bmefford1997</p>
                <p>LinkedIn: https://www.linkedin.com/in/brandon-mefford-49723618a/ </p>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>

</div>