@{
    ViewData["Title"] = "Home Page";
}

<div id="carousel-home-index" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" id="carousel-home-item">
            <img class="d-block w-100" src="~/images/bb578d8aab4e8b634a5b6f81e370fbb8.jpg" id="carousel-home-img" alt="First slide">
            <div class="carousel-caption" id="carousel-caption-index">
                <h1>Nothing Fancy Hotel</h1>
                <h3>The only hotel that doesn't try</h3>
                <a asp-area="" asp-controller="Rooms" asp-action="Listing" class="btn btn-light">Reserve Now</a>
            </div>
        </div>
    </div>
</div>

